{
  "parser"  : "babel-eslint",
  "parserOptions": {
  "sourceType": "module"
  },
  "extends" : [
    "standard"
  ],
  "env"     : {
    "browser" : true
  },
  "rules": {
    "semi" : [2, "never"],
    "max-len": [2, 120, 2],
    "generator-star-spacing": 0,
    "yield-star-spacing": [2, "before"],
    "jsx-quotes": [2, "prefer-single"],
    "comma-dangle": [1, 'always-multiline'],
    "camelcase": [0, {"properties": "always"}],
    "no-duplicate-imports": [0, { "includeExports": false }],
  }
}
